@font-face {
  font-family: JetbrainsMono;
  src: url(JetBrainsMono-Regular.woff2);
}

* {
  transition: all 0.3s ease;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: black;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  font-family: 'JetbrainsMono';
  padding: 0; 
  margin: 0;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: 500;
  color: white;
  text-align: center;
  margin: auto;
  text-shadow: 0 0 10px #fff;
}

.btn {
  font-family: 'Rubik';
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 1em;
  color: white;
  background-color: black;
  border: 2px solid grey;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: black;
  transform: translate(-50%, -50%) scale(1.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  transition: transform 0.3s ease;
}

p {
  color: white;
  text-align: center;
  text-shadow: 0 0 10px #fff;
}

.topText {
display: flex;
align-items: center;
flex-direction: column;
white-space: nowrap;
width: 200%;
height: 13em;
top: 50%;
transform: translate(0%, -50%);
}

.top {
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}

.vids {
  display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: row;
height: 35em;
margin: 5em;
}

.vids iframe{
  border-radius: 1em;
  text-shadow: 0 0 10px #fff;
  padding-right: 1em;
}